<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include partials/header %>
    <section>
      <div>
        <img src="/images/logo.png" alt="hero_image" />
      </div>
      <div>
        <h1>Event Management</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores soluta dolore, hic
          sequi dolorum corporis minus perferendis, quia inventore eligendi atque. Harum blanditiis
          ut ratione sequi dolor esse fuga! Aliquid!
        </p>
      </div>
    </section>
    <section>
      <div>
        <h3>Lorem Ipsum</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, maiores. Dolor asperiores
          corporis quod dignissimos doloribus ducimus dolorem vel adipisci iste similique neque id
          suscipit harum, saepe repellat eos temporibus.
        </p>
      </div>
      <div>
        <img src="" alt="section2_image" />
      </div>
    </section>
    <section>
      <div>
        <img src="" alt="section3_image" />
      </div>
      <div>
        <h3>Lorem Ipsum</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, maiores. Dolor asperiores
          corporis quod dignissimos doloribus ducimus dolorem vel adipisci iste similique neque id
          suscipit harum, saepe repellat eos temporibus.
        </p>
      </div>
    </section>
    <% include partials/footer %>
  </body>
</html>
