<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form action="/remarks/<%= remark._id %>" method="POST">
        <input type="text" name="title" placeholder="Add Title" value="<%= remark.title %>" />
        <input type="text" name="author" placeholder="Add Author" value="<%= remark.author %>" />
        <input type="submit" value="Update Remark" />
      </form>
    </div>
  </body>
</html>
